
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



body {

  background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)),url(/images/marx.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $light-grey;
}

nav {
  background-color: $grey;
}

nav ul li a {
  font-size: 1.2em;
}

footer {
  background-color: $grey;
}

a {
  color: $green;
}

a:hover {
  color: darken($green, 20%);
}

.overflow{
  overflow: auto;
  height: 500px;

}

.container {
  min-height: 1000px;
}

.page-link {
   color: $green;
}

a:hover.page-link {
  color: darken($green, 20%);
}

.page-item.active .page-link {
  z-index: 1;
    color: white;
    background-color: $green;
    border-color: $green;
}

.hyphen {
  hyphens: auto;
}
